.privacidad-container {
    background-color: transparent;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
}


:global(.service-content-card) {
    background-color: #f5f5f5 !important;
    box-shadow: none !important;
}

.privacidad-box {
    background-color: transparent;
    width: 100%;
    max-width: 800px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}