.service-layout-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5;
}

.service-content-card {
    background-color: #ffffff;
    width: 98%;
    max-width: 1600px;
    height: calc(100vh - 170px);
    border-radius: 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    padding: 20px 5px 20px 20px;
    display: flex;
    flex-direction: column;
}

.service-card-scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.service-card-scroll::-webkit-scrollbar {
    width: 8px;
}

@media (min-width: 1024px) {
    .service-card-scroll::-webkit-scrollbar {
        display: block;
        width: 8px;
    }

    .service-card-scroll::-webkit-scrollbar-track {
        background: transparent;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .service-card-scroll::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 10px;
        border: 2px solid transparent;
        background-clip: content-box;
    }
}

@media (max-width: 1024px) {
    .service-content-card {
        width: 100%;
        border-radius: 0;
        height: 100vh;
        margin-top: 0;
        padding: 0;
    }

    .service-card-scroll {
        padding: 80px 20px 100px 20px;
        scrollbar-width: none;
    }

    .service-card-scroll::-webkit-scrollbar {
        display: none;
    }
}