@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */

/* 1. RESET CRÍTICO: Esto evita que los paddings rompan los anchos */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. COMPORTAMIENTO HÍBRIDO (Móvil vs Escritorio) */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #9e2727;
  overflow-x: hidden;
}

/* Solo en Escritorio congelamos la pantalla */
@media (min-width: 1024px) {
  html, body {
    height: 100vh;
    overflow: hidden; 
  }
}