@tailwind base;
@tailwind components;
@tailwind utilities;




*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #9e2727;
  overflow-x: hidden;
}


@media (min-width: 1024px) {

  html,
  body {
    height: 100vh;
    overflow: hidden;
  }
}